:root {
  --button-blue: #1e90ff;
  --white: #ffffff;
  --button-red:#dc3545;
}

.form-tag {
  padding: 2px;
  display: flex; 
  justify-content:center;
  /* align-items: center; */
  align-content: center;
  flex-wrap: wrap;
}

.input-tag {
  background-color: #81afd7;
  margin: 10px;
  border-radius: 0.5em;
  min-height: 2rem;
  font-size:medium;
  text-align: center;
  border: 2px solid black;
}
::placeholder{
  color: #f8f9fa;
}

.input-tag:focus{
  outline: none;
  border:2px solid greenyellow;
}

h1 {
  color: whitesmoke;
  font-style: normal;
  font-weight: 400;
  /* background-color: white; */
  padding: 2%;
  text-align: center;
}

.button-add {
  outline: none;
  border: 2px solid #007bff;
  text-transform: uppercase;
  background-color: var(--button-blue);
  border-radius: 0.25rem;
  padding:1em 2em;
  margin: 10px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
}
.button-add:hover{
  border: 2px solid #4CAF50 ;
}


.list-tag{
  list-style-type: none;
}

.button-delete{
  outline: none;
  background-color:var(--button-red) ;
}