:root {
  --button-blue: #1e90ff;
  --white: #ffffff;
  --button-red: #dc3545;
}

h1 {
  font-style: normal;
  font-weight: 700;
  padding: 2%;
  padding-top: 6%;
  text-align: center;
  color: #010409;
}

.form-tag {
  padding: 2px;
  display: flex;
  justify-content: space-around;
}

.input-tag {
  background-color: #010409;
  margin: .6em;
  border-radius: 0.5em;
  min-height: 2rem;
  font-size: medium;
  padding-left: 1em;
  /* border: 2px solid black; */
  width: 50vw;
  color:white;
}

::placeholder {
  color: #555c64;
  text-align: center;
}

.input-tag:focus {
  outline: none;
  border: 2px solid greenyellow;
  padding-left: 1em;
}



.button-add {
  outline: none;
  border: 2px solid #007bff;
  text-transform: uppercase;
  background-color: var(--button-blue);
  border-radius: 0.25rem;
  padding: 0 2em;
  margin: .6em 0;
  cursor: pointer;
  font-weight: 700;
}


.button-add:hover {
  border: 2px solid #4caf50;
}

.button-delete {
  margin: 2px 0 2px 0;
  height: 20px;
  background-color: var(--button-red);
  border: 1px solid red;
  text-align: center;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}

.ul-tag {
  padding: 0;
  margin: 2px;
  text-align: center;
}

.li-tag {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid green;
  line-height: 1px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.content-list {
  color: #28a746;
  text-align: center;
  display: inline;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}