.form-tag {
  /* width:100%; */
  padding: 2px;
  display: flex; 
  justify-content:space-evenly;
  /* align-items: center; */
  align-content: center;
  flex-wrap: wrap;
}

.input-tag {
  background-color: plum;
  margin: 10px;
  border: 2px solid greenyellow;
  border-radius: 0.5em;
  height: 40px;
  /* width: 270px; */
  /* animation: mymove 5s infinite; */
}

.input-tag:hover {
  background-color: whitesmoke;
}

h1 {
  color: whitesmoke;
  font-style: normal;
  font-weight: 400;
  /* background-color: white; */
  padding: 2%;
  text-align: center;
}
button {
  text-transform: uppercase;
  background-color: #5bc0de;
  border: 2px solid #4CAF50;
  border-radius: 0.25rem;
  padding:1em 2em;
  margin: 10px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
}

@keyframes mymove {
  20% {
    border-color: violet;
  }
  40% {
    border-color: orange;
  }
  60% {
    border-color: blue;
  }
  80% {
    border-color: green;
  }
  100% {
    border-color: yellow;
  }
}